/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #788374;
  --color-lose: #aa644d;
  --color-start: #372a39;
  --color-bright: #f5e9bf;
  --color-ltr-boxes: #372a39;
  --color-ltr-boxes-show: var(--color-bright);
  --color-keys: var(--color-bright);
  --color-keys-bkgd: var(--color-start);
  --color-drk-bkgd: #1A141B;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
  background-color: var(--color-drk-bkgd);
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  font-family: 'Press Start 2P';
  font-size: var(--font-size-large);
  letter-spacing: 2px;
  margin: 0;
}

h1 {
  font-size: 30px;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-bkgd);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

/* Player Stats */

#player_stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}

#btn__quit {
  width: 100px;
	margin: 0 auto;
  background: var(--color-lose);
  color: var(--color-drk-bkgd);
  font-weight: 600;
}

#bt__quit:focus, #btn__quit:focus-visible {
  outline: 2px solid var(--color-lose);
  outline-offset: 2px;
}

#btn__quit:hover {
  outline: 2px solid var(--color-lose);
  outline-offset: 2px;
}

/* Title */

.header {
  color: var(--color-bright);
}


/* Phrase */

#phrase ul {
  margin: 50px 0;
}

#phrase ul li{
  margin-top: 15px;
}

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-ltr-boxes);
  border-radius: 5px;
}

.space {
  width: 15px;
}

.show {
  color: var(--color-start);
  background-color: var(--color-ltr-boxes-show);
  font-size: var(--font-size-medium);
  font-weight: bold;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  user-select: auto;
}

.hide {
  user-select: none; /*Prevent user from cheating by highlighting answers :D*/
}


/* Keyboard */

.key {
  color: var(--color-keys);
  background-color: var(--color-keys-bkgd);
  outline: 1px solid var(--color-keys-bkgd);
  outline-offset: 2px;
}

.key:hover {
  outline-width: 3px;
}

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: var(--color-win);
  color: var(--color-drk-bkgd);
  outline: none;
}

.wrong {
  background: var(--color-lose);
  color: var(--color-drk-bkgd);
  outline: none;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: var(--color-bright);
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

#start_action {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

#btn__reset {
	width: 200px;
	margin: 0 auto;
  background-color: var(--color-bright);
  color: var(--color-start);
  font-weight: 600;
}

#btn__reset:focus, #btn__reset:focus-visible {
  outline:  2px solid var(--color-bright);
  outline-offset: 4px;
}

#btn__reset.win {
  color: var(--color-win);
}

#btn__reset.lose {
  color: var(--color-lose);
}

#btn__reset:hover {
  background-color: var(--color-start);
  color: var(--color-bright);
  outline:  2px solid var(--color-bright);
  outline-offset: 4px;
}

#btn__reset.win:hover {
  background-color: var(--color-win);
}

#btn__reset.lose:hover {
  background-color: var(--color-lose);
}

.title {
  color: var(--color-bright);
}

.start, .quit {
  background-color: var(--color-start);
}

.win {
  background-color: var(--color-win);
}

.lose {
  background-color:var(--color-lose);
}
